:root {
    --app-font-color: #fff;
    --app-button-color: #4a90e2;
    --app-hover-cover: #62aef7;
    --app-button-radius: 50px;
    --app-box-radius: 6px;
    --app-dark-mode: #454579;
    --app-dark-mode1: #3e3e6c;
  }